# Node modules
node_modules/
apps/*/node_modules/

# logs
logs/
*.log
pnpm-debug.log*

# pnpm state files
.pnpm-store/

# dotenv environment variables file
.env
.env.template
apps/*/.env
apps/*/.env.template

# MedusaJS build output
apps/backend/build/

# SvelteKit build output
apps/frontend/.svelte-kit/
apps/frontend/build/
apps/frontend/package/

# static and public files (if any)
apps/frontend/public/build/

# IDEs and editors
.vscode/
.idea/

# system files
.DS_Store

# nx stuff
.nx/cache
.nx/workspace-data